@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-main-500: #3f91cd;

  --animate-spin-fast: spin 10s linear infinite;

  --animate-spin-slow: spin 20s linear infinite;

  --animate-spin-slow2: spin2 40s linear infinite;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes spin2 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
}

.embla__slide {
  transition: opacity 4200ms ease-in-out;
}
